.footer {
  display: flex;
  padding: 3rem 1rem;
  justify-content: space-around;

  background-color: #ffffff;
}
.footer ul li {
  color: rgb(12, 15, 17);
  list-style: none;
}

.footer ul li strong {
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}
