.nav {
  border: 2px solid white;
  padding: 1.2rem;
  position: fixed;
  background-color: #fff;
  color: black;
  font-weight: 600;
  opacity: 0.7;
  width: 100%;
}
.nav ul,
.nav {
  justify-content: space-between;
  display: flex;
}
.nav ul li {
  margin-left: 10px;
  list-style: none;
}
.nav ul li a {
  margin: 10px;
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.6rem;
  border-radius: 20px;
  background-color: #271e1e;
}

@media (max-width: 1000px) {
  .nav ul li {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .nav ul li {
    font-size: 0.5rem;
  }
}
